.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
  }
  
  .goback, .up {
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 9px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .goback{
    background-color: orange;
  }
  
  .up {
    background-color: blue;
  }
  
  .goback:hover, .up:hover {opacity: 1}
  