<h2>Add hero</h2>

<div >
  <label>Hero name:
    <input #heroName />
  </label>

  <div >
    <div><span>add Hero: </span>{{hero.idHero}}</div>
    <label>
      <input [(ngModel)]="hero.dni" placeholder="dni"/>
      <input [(ngModel)]="hero.nombre" placeholder="nombre"/>
      <input [(ngModel)]="hero.apellido" placeholder="apellido"/>
    </label>
  </div>

  <button (click)="add(hero)">
    add
  </button>
</div>

<h2>delete Hero</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.idHero}}">
      <span class="badge">{{hero.idHero}}</span> {{hero.nombre}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>