<h2>Add hero</h2>
<div>
  <label>Name:
    <input [(ngModel)]="hero.name" placeholder="Name" maxlength="20" />
  </label>
  <br />
  <label>Surname:
    <input [(ngModel)]="hero.surname" placeholder="Surname" maxlength="20" />
  </label>
  <br />
  <button (click)="saveHero()">
    Add
  </button>
</div>

<br />

<h2>My Heroes</h2>
<ul class="heroes">
  <table id="hero">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heroes">
        <td>{{hero.idHero}}</td>
        <td>{{hero.name}}</td>
        <td>{{hero.surname}}</td>
        <td>
          <a class="" routerLink="/detail/{{hero.idHero}}">
            <button class="update">Update</button>
          </a>
          <button class="delete" (click)="delete(hero)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</ul>