<h2>Add hero</h2>
<div>
  <label>Name:
    <input [(ngModel)]="hero.name" placeholder="Name" maxlength="20" />
  </label>
  <br />
  <label>Surname:
    <input [(ngModel)]="hero.surname" placeholder="Surname" maxlength="20" />
  </label>
  <br />
  <button (click)="saveHero()">
    Add
  </button>
</div>

<br />

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <span class="badge">{{hero.idHero}}</span> {{hero.name}}

    <div style="text-align: right; margin-top: -39px;">
      <a class="" routerLink="/detail/{{hero.idHero}}">
        <button class="button">Update</button>
      </a>
      <button class="button" style="background-color: red; margin-left: 75px;" (click)="delete(hero)">Delete</button>
    </div>
  </li>
</ul>